.e-left.pc 
  .e-left__inner 
    .e-left__ttl 
      h3 トップ記事 一覧
    .e-left__content 
      ul.content-list 
        li.content-item 
          a(href="").content-link
          .item-heading
            time 2022.12.12
            a(href="")
              |家計
          p.item-ttl 
            |ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー…
        li.content-item 
          a(href="").content-link
          .item-heading
            time 2022.12.12
            a(href="")
              |家計
          p.item-ttl 
            |ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー…
        li.content-item 
          a(href="").content-link
          .item-heading
            time 2022.12.12
            a(href="")
              |家計
          p.item-ttl 
            |ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー…
        li.content-item 
          a(href="").content-link
          .item-heading
            time 2022.12.12
            a(href="")
              |家計
          p.item-ttl 
            |ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー…
                    
