.e-right.pc
  .e-right__inner 
    .e-right__ttl 
      h3 カテゴリー 一覧
    .e-right__content 
      ul.content-list 
        li.content-item 
          a(href="")
            .item-img 
              figure
                img(src!="<?php echo get_template_directory_uri(); ?>/common/images/common/dummy.png", alt="")
            p.item-cat
              |家計
        li.content-item 
          a(href="")
          .item-img 
            figure
              img(src!="<?php echo get_template_directory_uri(); ?>/common/images/common/dummy.png", alt="")
          p.item-cat
            |仕事
        li.content-item 
          a(href="")
          .item-img 
            figure
              img(src!="<?php echo get_template_directory_uri(); ?>/common/images/common/dummy.png", alt="")
          p.item-cat
            |雑貨
        li.content-item 
          a(href="")
          .item-img 
            figure
              img(src!="<?php echo get_template_directory_uri(); ?>/common/images/common/dummy.png", alt="")
          p.item-cat
            |カテゴリー
        li.content-item 
          a(href="")
          .item-img 
            figure
              img(src!="<?php echo get_template_directory_uri(); ?>/common/images/common/dummy.png", alt="")
          p.item-cat
            |カテゴリー
        li.content-item 
          a(href="")
          .item-img 
            figure
              img(src!="<?php echo get_template_directory_uri(); ?>/common/images/common/dummy.png", alt="")
          p.item-cat
            |カテゴリー