.e-left {
  width: calc(450 / 1440 * 100%);
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #BBDEEF;

  &__inner {
    padding: 4vw 2vw;
  }

  &__ttl {
    h3 {
      font-size: 3rem;
      color: #fff;
    }
  }

  &__content {
    .content {
      &-list {
        margin-top: 4rem;
      }
      &-item {
        position: relative;
        background-color: #fff;
        padding: 1vw 1.5vw 2vw;
        

        & > a{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
        &:nth-child(n + 2) {
          margin-top: 4rem;
        }
        .item {
          &-heading {
            display: flex;
            align-items: center;
            a{
              display: block;
              padding: 0.5vw 1vw;
              background-color: aqua;
              border-radius: 999px;
              margin-right: 1rem;
            }
            time {
            }
          }
          &-ttl {
            margin-top: 1.5rem;
          }
        }
      }
      &-link {                
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
      }
    }
  }
}
